@model AdvertisementAddFormModelStep2

@{
    ViewData["Title"] = "Add Car";
}
@*@using (Html.BeginForm("AddStep2", "Advertisement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {*@
@*@Html.HiddenFor(m => m.Brand);
    @Html.HiddenFor(h => h.Model);
    @Html.HiddenFor(s => s.SelectedExtras);*@

<div class="row">
    <div class="container-fluid">
        <div class="alert-danger text-danger">
            <p><b>@Html.ValidationSummary(false)</b></p>
        </div>
        <form method="post" enctype="multipart/form-data" asp-action="AddStep2" asp-controller="Advertisement">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Additional Data</h5>
                    <hr/>
                    <p class="card-text">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" class="form-control" type="text">
                                    <span asp-validation-for="Name" class="small text-danger"></span>
                                    <br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label asp-for="Description">Description</label>
                                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                                        <span asp-validation-for="Description" class="small text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Upload Images</h5>
                    <hr/>
                    <p class="card-text">
                        <div class="container">
                            <div class="row">
                                <section>
                                    <div>
                                        <div class="custom-file">
                                            <input multiple="multiple" asp-for="Images" type="file" name="Images" class="custom-file-input" id="imageBrowses">
                                            <label class="custom-file-label" for="imageBrowses">Choose file</label>
                                        </div>
                                        <br/>
                                        <br/>
                                        <div class="panel panel-body" style="min-height: 256px">
                                            <div class="col-md-9">
                                                <div id="imgPreview" class="thumbnail">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                        </div>
                    </p>
                </div>
            </div>
            <br/>


            <div class="text-center">
                <button type="button" class="btn btn-primary" onclick="history.go(-1);return false;">Back</button>
                <button type="submit" class="btn btn-primary" id="buttonFinishId">Finish</button>
            </div>

        </form>

    </div>
</div>


@section Scripts{

    <script>
        $(function () {
            $("[id*=imageBrowses]").change(function () {
                if (typeof (FileReader) != "undefined") {
                    var dvPreview = $("#imgPreview");
                    dvPreview.html("");
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                    $($(this)[0].files).each(function () {
                        var file = $(this);
                        if (regex.test(file[0].name.toLowerCase())) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = $("<img />");
                                img.attr("style", "height:250px;width: 250px;padding-bottom: 25px;");
                                img.attr("src", e.target.result);

                                dvPreview.append(img);
                            }
                            reader.readAsDataURL(file[0]);
                        } else {
                            alert(file[0].name + " is not a valid image file.");
                            dvPreview.html("");
                            return false;
                        }
                    });
                } else {
                    alert("This browser does not support HTML5 FileReader.");
                }
            });
        });
    </script>
}
